.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 45px;
  color: rgb(186, 226, 73);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border: 1px solid rgb(186, 226, 73);
  transition: 0.3s all ease-in-out;
  &:hover {
    background: rgb(186, 226, 73) ;
    color: black;
  }
}
