.new {
  min-height: 672px;
  padding-top: 60px;
  padding-bottom: 57px;
  background: rgb(29, 47, 48);

  &__item {
    position: relative;
    flex-direction: column;
    grid-column: 3 span;
    width: 255px;
    min-height: 493px;
    border: 1px dashed white;
  }

  &__block {
    height: 180px;
    background: rgb(11, 25, 25);
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: white;
    margin: 0;
    margin-bottom: 8px;
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
  }

  &__text {
    margin-bottom: 16px;
    color: rgb(137, 157, 157);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &__wrapper {
    padding: 16px 16px 71px 16px;

  }

  &__btn {
    position: absolute;
    bottom: 24px;
  }

  &__tabs {
    margin-top: 26px;
    width: 161px;
    height: 36px;
    justify-content: space-between;
    align-items: center;
  }

  &__tab {
    color: rgb(255, 255, 255);
    font-family: var(--second-family) ;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
  }
  &__center {
    justify-content: center;
  }
}
