<section class="collection">
    <div class="container grid">
      <div class="collection__container">
        <h2 class="collection__title">
          Крупнейшая коллекция природных артефактов
        </h2>
        <div class="collection__descr">
          Являясь всего лишь частью общей картины, интерактивные прототипы, которые представляют собой яркий пример
          европейского типа политической и социальной культуры.
        </div>
        <div class="collection__link">
          Исследовать
        </div>
      </div>
    </div>
</section>


