<section class="exam">
  <div class="container grid">
    <h2 class="exam__title">
      Новые артефакты
    </h2>
  </div>
  <div class="container exam__container grid">
    <div class="exam__left">
      <img src="img/card_5.png" alt="left img" class="exam__img">
    </div>
    <div class="exam__right">
      <h4 class="exam__subtitle">
        Kurische Nehrung 24
      </h4>
      <div class="exam__text">
        Вот вам яркий пример современных тенденций - начало повседневной работы по формированию позиции выявляет срочную потребность методов управления процессами. <br><br>
        Есть над чем задуматься: представители современных социальных резервов своевременно верифицированы.
      </div>
      <a href="#" class="exam__link">
        Читать далее
      </a>
  </div>

</div>
</section>
