<header class="header">
  <div class="container grid">
    <div class="logo">
      <img src="img/logo.png" alt="logo">
    </div>
    <div class="header__menu flex">
      <a href="#" class="header__link">
        Каталог
      </a>
      <a href="#" class="header__link">
        Галерея
      </a>
      <a href="#" class="header__link">
        О лабаратории
      </a>
      <a href="#" class="header__link">
        Контакты
      </a>
    </div>
    <div class="header__icon flex">
      <img src="img/search.png" alt="icon">
      <img src="img/log.png" alt="icon">
    </div>
  </div>
</header>
З
