<section class="new">
  <div class="container">
    <ul class=" list-reset new__list grid">
      <li class="new__item flex">
        <div class="new__block flex">
          <img src="img/new/new-1.png" alt="img" class="new__img">
        </div>
        <div class="new__wrapper">
          <h3 class="new__title">
            Fig. 1 (plant)
          </h3>
          <div class="new__text">
            Имеется спорная точка зрения, гласящая примерно следующее: активно развивающиеся страны третьего мира
            своевременно верифицированы.
          </div>
          <div class="btn new__btn">
            Подробнее
          </div>
        </div>
      </li>
      <li class="new__item flex">
        <div class="new__block flex">
          <img src="img/new/new-1.png" alt="img" class="new__img">
        </div>
        <div class="new__wrapper">
          <h3 class="new__title">
            Fig. 2 (flower)
          </h3>
          <div class="new__text">
            Прежде всего, синтетическое тестирование влечет за собой процесс внедрения и модернизации условий.
          </div>
          <div class="btn new__btn">
            Подробнее
          </div>
        </div>
      </li>
      <li class="new__item flex">
        <div class="new__block flex">
          <img src="img/new/new-1.png" alt="img" class="new__img">
        </div>
        <div class="new__wrapper">
          <h3 class="new__title">
            Fig. 3 (leaf)
          </h3>
          <div class="new__text">
            Лишь непосредственные участники прогресса неоднозначны и будут в равной степени предоставлены сами себе для
            работы.
          </div>
          <div class="btn new__btn">
            Подробнее
          </div>
        </div>
      </li>
      <li class="new__item flex">
        <div class="new__block flex">
          <img src="img/new/new-1.png" alt="img" class="new__img">
        </div>
        <div class="new__wrapper">
          <h3 class="new__title">
            Fig. 4 (wood)
          </h3>
          <div class="new__text">
            Базовый вектор развития не даёт нам иного выбора, кроме определения новых предложений.
          </div>
          <div class="btn new__btn">
            Подробнее
          </div>
        </div>
      </li>
    </ul>
    <div class="new__center flex">
      <div class="new__tabs flex">
        <div class="new__left">
          <img src="img/left.png" alt="img" class="new__left-img">
        </div>
        <div class="new__tab">
          1 из 3
        </div>
        <div class="new__right">
          <img src="img/right.png" alt="img" class="new__left-img">
        </div>
      </div>
    </div>
  </div>
</section>
