<section class="project">
  <div class="container grid">
    <h3 class="project__title">
      Помочь проекту
    </h3>
    <div class="project__text">
      Равным образом, экономическая повестка сегодняшнего дня не даёт нам иного выбора, кроме определения прогресса
      профессионального сообщества. Как принято считать, элементы политического процесса рассмотрены исключительно в
      разрезе маркетинговых и финансовых предпосылок.
    </div>
  </div>
    <div class=" grid container">
      <form id="contacts__form" action="#" class="contacts__form">
        <div class="contacts__input">
          <input name="name" id="name" placeholder="Имя" type="text">
        </div>
        <div class="contacts__input">
          <input name="email" id="email" placeholder="Email" type="email">
        </div>
        <button class="btn project__btn">
          Отправить
        </button>
      </form>
    </div>
</section>
