// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "OpenSans", sans-serif;
  --second-family: "Cormorant", sans-serif;
  --content-width: 1140px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --offset:30px;

  // colors
  --light-color: #fff;
  --active-color: rgb(186, 226, 73);
}
